:root {
  --color-black: #252525;
  --color-pink: #D65D89;
  --color-gray: #F6F6F6;
}

html {}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  user-select: none;
}

body {

  color: var(--color-black);
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial;

  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

a {
  text-decoration: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.section-mt-s {
  margin-top: 42px;
}

.section-mt-l {
  margin-top: 68px;
}