/* color palette from <https://github.com/vuejs/theme> */
:root {

  --color-white: rgb(255, 255, 255);
  --color-black-primary: rgba(38, 38, 38, 1);
  --color-black-secondary: rgba(79, 79, 79, 1);
  --color-black-third: #B0B0B0;
  --container-padding: 80px;


  --z-index-battle-mark: 5;
  --z-index-battle-description: 5;
  --z-index-popup-description-short: 10;
  --z-index-popup-description-full: 10;


}

html {
  width: 3840px;
  height: 2160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  user-select: none;
}

body {
  /* min-height: 100vh; */
  color: var(--color-black-primary);
  background: var(--color-background);
  /* overflow: hidden; */

  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  width: 3840px;
  height: 2160px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}