@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: 400, 500, 600, 700; // Or define separate @font-face for each weight
    font-style: normal;
    font-display: swap;
}