.title {

    &-card {
        color: var(--color-black);
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        &_primary {
            letter-spacing: 3px;
        }

        &_secondary {
            letter-spacing: -2px;
            line-height: 110%;
        }
    }
}